/* Colors and fonts */

body{
	background-color: #85a392;
	color: #184d47;
	text-align: center;
	font-family: 'Tajawal', sans-serif;
	font-weight: 100;
	line-height: 35px;
	letter-spacing: 5px;
	font-size: 20px;
}

h1, h2, h3 {
	text-align: center;
	font-weight: 100;
	letter-spacing: 1px;
}
h1 {
	color: #ffecc7;
	font-family: 'PT Sans Caption', sans-serif;
	font-size: 110px;
}
h2, h3 {
	color: #184d47;
	font-family: 'PT Sans Caption', sans-serif;
	font-size: 50px;
}

a{
	text-decoration: none;
	color: #184d47;
}

/* Image */

img{
	width: 320px;
	border-radius: 50%;
	box-shadow: 0px 0px 50px black;
}


/* Divs */

.container{
	background: #fdd998;
	width: 800px;
	margin: auto;
	padding-bottom: 40px;
}

.header{
	text-align: center;
	background: #85a392;
	color: #ffecc7;
	padding-bottom: 40px;
}

.card-white{
	background: #ffecc7;
	width: 600px;
	margin: 20px auto;
	padding: 40px;
	border-radius: 3px;
	box-shadow: 0 15px 35px rgba(30, 30, 30, .2);
	text-align: center;
}


/* Media Queries */

@media (max-width: 500px){
	.container {
		width: 400px;
	}
	.card-white {
		width: 280px;
	}
}


/* Selectors */

.list-inline{
	list-style: none;
	text-align: center;
}
.list-inline li {
	display: inline;
	padding: 30px;
}
.list-inline i {
	font-size: 50px;
	color: #184d47;
}

i:hover {
	color: #85a392;
}

.quote{
	font-family: 'Mr Dafoe', cursive;
	font-size: 50px;
	letter-spacing: 7px;
}